# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.hmap
*.ipa

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App packaging
*.app
*.ipa
